{% extends "catalogo_movies/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- bucle para mostrar cada película en la base de datos -->
        {% for pelicula in peliculas %}
        <div class="col-md-3 mb-3">
            <div class="card" style="border-radius: 20px;""> <!-- Agregamos la clase h-100 aquí -->
                <img src="{{ pelicula.imagen }}" class="card-img-top" alt="{{ pelicula.titulo }}">
                <div class="card-body">
                    <h5 class="card-title">{{ pelicula.titulo }}</h5>
                    <p class="card-text">{{ pelicula.descripcion }}</p>
                    <p class="card-text sinopsis" style="display: none;">{{ pelicula.sinopsis }}</p>
                    <a href="#" class="btn btn-primary leer-sinopsis">Leer Sinopsis</a>
                    <p class="card-text">
                        <small class="text-muted">Categorías: <h5>{{ pelicula.categorias.all|join:" | " }}</h5></small>
                    </p>
                </div>
            </div>
        </div>
        <!-- Final del ciclo -->
        {% endfor %}
    </div>
</div>
{% endblock content %}
